@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body, button {
    color: white;
    user-select: none;
    font-family: Roboto;
    background-color: #121212;
}
button:hover {
    background-color: rgb(71, 71, 71);
}

#test {
    display: none;
}
.prestigeblock {
    display: flex;
}
#diamondmined, #diaupg {
    display: none;
}
#clear {
    position: fixed;
    right: 0;
    bottom: 0;
}
#emerald {
    display: none;
}

table, th, td {
    font-size:larger;
    background-color: rgb(113, 113, 113);
    border: 5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height: 75px;
    width: 600px;
}
td {
    text-align: center;
}
